{% load staticfiles %}


{% load render_table from django_tables2 %}


<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/paleblue.css' %}" />
        <link href="{% static 'css/customer.css' %}" rel="stylesheet">
    </head>
    <body class="pageContainer">
    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
    <div class="userInfoContainer">
    	<label>Logged in as {{user_name}}</label>
    	<form action="{% url 'customer_edit_user' %}">
			<input type="submit" value="Edit Account Information">
		</form>
		<form action="{% url 'store_user' %}">
			<input type="submit" value="Log Out">
		</form>
    </div>
    <label id="order_id" style="display:none">{{order_id}}</label>
		<form id="selectProductsForm" method="POST" style="display:none;">{% csrf_token %}
    		{{select_products_form}}
		</form>
		<form id="updateOrderForm" method="POST" style="display:none;">{% csrf_token %}
    		{{update_order_form}}
		</form>
    	<div class="centerContent">

	    	<h1>Add an order</h1>
	    	{% if show_search %}
	    	<div style="margin-bottom:10px;">
		    	<form method="POST" style="display:inline;">{% csrf_token %}
		    		{{product_search_form}}
		    		<button type="submit">Search</button>
				</form>
			</div>
			{% endif %}
	        {% render_table table %}
	        {% if selected_products %}
	        <div style="margin-top:10px">
	        	<button onclick="selectProducts()">Proceed to payment</button>
	        	<br>
	        	<br>
	        	<form action="{{staff_URL}}" style="{{staff_display}}">
					<input type="submit" value="Return to all tables view in Staff page WITHOUT SAVING">
				</form>
	        </div>
	        {% endif %}
	        {% if tally_products %}
	        	<div>
	        		<label>total items: <label id="totalItems"></label></label>
	        	</div>
	        	<div>
	        		<label>total price: $<label id="totalPrice"></label></label>
	        	</div>
	        	<div>
		    		<button type="button" onclick="updateContains()">Pay</button>
		    	</div>
	        {% endif %}
	    </div>
    </body>
</html>

<script type="text/javascript" src="{% static 'js/jquery-1.11.3.js' %}"></script>
<script type="text/javascript" src="{% static 'js/customer.js' %}"></script>
