{% load staticfiles %}

<!-- <script type="text/javascript" src="{% static 'js/SOMEFILENAME.js' %}"></script>
 -->
{% load render_table from django_tables2 %}

<script language="JavaScript">
var selectedProducts = [];
function toggle(source) {
	var value = source.value;
    checkboxes = document.getElementsByName('selection');
    var found = false;
    for(var i = 0; i <= selectedProducts.length; i++){
        if(selectedProducts[i] == value){
        	found = true;
        	selectedProducts.splice(i,1);
        	break;
        }
    }

    if(found == false)
    	selectedProducts.push(value);

    console.log(JSON.stringify(selectedProducts));
    document.getElementById('id_selected_products').value = JSON.stringify(selectedProducts);
    console.log(document.getElementById('id_selected_products').value);
}

function selectProducts(){
	document.getElementById('selectProductsForm').submit();
}
</script>

<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/paleblue.css' %}" />
        <link href="{% static 'css/customer.css' %}" rel="stylesheet">

    </head>
    <body class="pageContainer">
		<form id="selectProductsForm" method="POST" style="display:none;">{% csrf_token %}
    		{{select_products_form}}
		</form>
		<button onclick="selectProducts()">Done</button>
    	<div class="centerContent">
	    	<h1>Customer</h1>
	    	<div style="margin-bottom:10px;">
		    	<form method="POST" style="display:inline;">{% csrf_token %}
		    		{{product_search_form}}
		    		<button type="submit">Search</button>
				</form>
			</div>
	        {% render_table table %}
	    </div>
    </body>
</html>