{% load staticfiles %}

<link href="{% static 'css/store_user.css' %}" rel="stylesheet">
<!-- <script type="text/javascript" src="{% static 'js/SOMEFILENAME.js' %}"></script>
 -->

<h1>Log In!</h1>

<form method='POST' action=''> 
	{% csrf_token %}
	{{form.as_p}}
	<input type='submit' value='Sign In'/>
</form>
<p>{{extra}}</p>

<h3>Or, to create a new account, click here:</h3>
<form action="{% url 'store_user_signup' %}">
	<input type="submit" value="Register">
</form>

<h4>Click here to go back to the search page.</h4>
<form action="{% url 'welcome' %}">
	<input type="submit" value="Go back" style="background: #a0cfdf">
</form>