{% load staticfiles %}

<link href="{% static 'css/store_user_signup.css' %}" rel="stylesheet">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
 <div class="col-lg-4"></div>
<div class="well well-lg col-lg-4" style="margin-top:20px;">
	<h1 style="margin-top:0">Sign up!</h1>

	<form method='POST' action=''> 
		{% csrf_token %}
		<table>
			{{ form.as_p }}
		</table>
	<input type='submit' value='Register'/>
	</form>

	<p>{{extra}}</p>

	<h3>Or, to log into an existing account, click here:</h3>
	<form action="{% url 'store_user' %}">
		<input type="submit" value="Sign In">
	</form>

	<h4>Click here to go back to the search page.</h4>
	<form action="{% url 'welcome' %}">
		<input type="submit" value="Go back" style="background: #a0cfdf">
	</form>
</div>
 <div class="col-lg-4"></div>

<script type="text/javascript" src="{% static 'js/store_user_signup.js' %}"></script>
