{% load staticfiles %}

<!-- <script type="text/javascript" src="{% static 'js/SOMEFILENAME.js' %}"></script>
 -->
{% load render_table from django_tables2 %}
<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/paleblue.css' %}" />
        <link href="{% static 'css/welcome.css' %}" rel="stylesheet">

    </head>
    <body class="pageContainer">
    	<div class="loginRegister">
    		<form action="{% url 'customer' %}">
    			<input type="submit" value="Login">
    		</form>

    	</div>
    	<div class="centerContent">
	    	<h1>Welcome</h1>
	    	<div style="margin-bottom:10px;">
		    	<form method="POST" style="display:inline;">{% csrf_token %}
		    		{{product_search_form}}
		    		<button type="submit">Search</button>
				</form>
			</div>
	        {% render_table table %}
	    </div>
    </body>
</html>